.skills {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3em 12vw;
}

.skillsGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6vw;
    grid-auto-rows: auto;
    height: auto;
    margin-top: 2rem;
    align-self: center;
}
.skillsGrid img {
    height: 100px;
    width: 100px;
    box-shadow: none;
  }

@media screen and (max-width: 540px) {
  .skills {
    margin: 0.1rem 0vw;
    text-align: center;
  }
    .skillsGrid{
      grid-template-columns: repeat(3, 1fr);

    }
    .skillsGrid img {
    height: 60px;
    width: 60px;
    }
  }