.AboutPage {
    display: flex; 
    flex-direction: column;
    height: auto;
    margin: auto;
    padding: 3em 10vw;    
    background-image: url("../../img/bg5.jpg");
}
#about {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: normal;
    text-align: justify;
    line-height: 40px;
}
a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.button {
    width: 10rem;
    height: 3rem;
    padding-left: 20px;
    padding-right: 20px;
}
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 90%;
    height: 100%;
    object-fit: fill;
    margin: auto;
  }
  #cert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
    height: 80vh;
    width: 90%;
    background-color: floralwhite;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
  }
  #cert>h3 {
    text-align: left;
  }
  
@media screen and (max-width: 800px) {
    .AboutPage {
        margin: 0.1rem 0;
        padding: 1em 0;
        text-align: center;
    }
    #about {
        padding: 0 4em;
        font-size: normal;
        font-weight: 100;
        text-align: justify;
        line-height: 30px;
    }
}

@media screen and (max-width: 640px) {
    .AboutPage {
        margin: 0.1rem 0;
        padding: 1em 2em;
        text-align: center;
    }
    #about {
        padding: 0 0;
        font-size: normal;
        font-weight: 100;
        text-align: justify;
        line-height: 30px;
    }
    #about-title {
        margin-top: 0.5rem;

    }
    #about-title>h2 {
        padding-left: 0;
    }
}
