.introPage {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem, 2rem;
}
#intro>img {
    margin-top: 7rem;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 14px;
    border-radius: 100%;
    /*border: 2px solid var(--deepBlue);*/
}
#intro-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
    font-size: 28px;
    color: rgb(245, 92, 92);
    font-weight: bolder;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
      }    
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
#intro-summary {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: normal;
    text-align: center;
    /*color: white;*/
    font-weight: normal;
    padding: 0 20vw;
    margin-top: 0.5rem;
    line-height: 24px;
}
#resume-link {
    margin-top: 2rem;
}
@media screen and (max-width: 800px) {
    .introPage {
        margin: 0 0;  
    }
    #intro-summary {
        padding: 0 8em;
        font-size: normal;
        font-weight: 100;
        text-align: center;
        line-height: 20px;
    }
    #intro>img {
        width: 200px;
        height: 180px;

    }
}
@media screen and (max-width: 640px) {
    .introPage {
        margin: 8em 0;  
        /*background-image: url(../../img/bg.jpg);*/
    }
    #intro-summary {
        padding: 0 3em;
        line-height: 20px;
        font-size: small;
    }
    #intro>img {
        width: 40vw;
        height: 20vh;
    }
}
