.introPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    /*background-image: url("../../img/bg4.jpg");*/
}
#intro {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem; 
}

#intro>img {
    margin-top: 5rem;
    height: 30vh;
    width: 23vh;
    box-shadow: rgba(245, 20, 20, 0.46) 0px 22px 70px 14px;
    border-radius: 100%;
    /*border: 2px solid var(--deepBlue);*/
}
#intro-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:0.5rem;
    font-size: clamp(2rem, 8vw, 2.2rem);
    color: #c48809;
    font-weight: 900;
    text-shadow: 3px 1px 1px #86f0fa, 2px 2px 1px #fbfcfd, 4px 2px 1px rgb(221, 99, 99);
}
#intro-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2rem;
    font-size: clamp(2rem, 8vw, 2.2rem);
    color: #fde9ff;
    font-weight: 900;
    text-shadow: 3px 1px 1px #037177, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff;
    animation-duration: 3s;
    animation-name: slidein;
}

#intro-summary {
    font-family: cursive;
    font-size: clamp(0.8rem, 10vw, 1.0rem);
    text-align: center;
    font-weight: normal;
    padding: 0 16vw;
    margin-top: 0.5rem;
    line-height: 24px;
}
#resume-link {
    margin-top: 2rem;
}
@media (max-width: 768px) {
    .introPage {
        margin: 0 0;  
    }
    
    #intro {
        padding-left: 0em;
        padding-right: 0em;
    }
    #intro>img {
        margin-top: 6.5em;
    }
    #intro-summary {
        padding: 0 2em;
        line-height: 20px;
        font-size: small;
    }

}


