.n-wrapper {
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: center;
    padding: 1em 3em;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.n-left {
    display: flex;
    flex: 1;
    align-items: center;
}

.n-name {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;    
    font-family: cursive;
    font-weight: bold;
    color: var(--deepBlue);
}

.n-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    margin-right: 5rem;
}

.n-list>ul {
    display: flex;
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: normal;
    color: var(--navColor);
}

li:hover {
    cursor: pointer;
    transform: scale(1.1);
    font-weight: bolder;
}

.n-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .n-wrapper {
        margin: 0 0;
        height: 10vh;
        display: flex;
        justify-content: space-between;
    }
    .n-list {
        display: none;
    }

    .n-button {
        display: none;
    }
}