:root
{
    --bgcolor: rgb(29, 51, 61);
    --navColor: #E81E25;
    --orange : #f5daae;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --deepBlue: rgb(51, 80, 100);
}
body{
  margin:0%;
  background-image: url(./img/bg.jpg);
}
.App{
    /*overflow: hidden;*/
    color: var(--bgcolor);
        
}
.button{
  border-radius: 34px;
  border: 1px solid var(--gray);
  color: rgb(239, 240, 245);
  font-size: 16px;
  padding:10px 5px 10px 5px;
  background-color: var(--deepBlue);
  text-shadow: 1px 1px 1px rgb(60, 56, 97), 1px 1px 1px rgb(155, 122, 122);
}
.button:hover{
  background: rgb(237, 236, 243);
  cursor: pointer;
  color: rgb(5, 2, 31);
  border: 1px solid var(--gray);
}

@media screen and (min-width: 1480px) {
  body{
    margin:0%;
 
  }
  .App{
      overflow: hidden;
      color: var(--black);   
  }
}