:root
{
    --bgcolor: rgb(29, 51, 61);
    --navColor: #E81E25;
    --orange : #f5daae;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --deepBlue: rgb(51, 80, 100);
}
body{
  margin:0%;
  background-color: var(--bgcolor);
  color: azure;
}
.App{
    /*overflow: hidden;*/
    color: white;
        
}
button{
  border-radius: 34px;
  border: 1px solid var(--gray);
  color: rgb(239, 240, 245);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: normal;
  padding:10px 12px 10px 12px;
  background-color: var(--deepBlue);
  text-shadow: 1px 1px 1px rgb(60, 56, 97), 1px 1px 1px rgb(155, 122, 122);
  
}
button:hover{
  background: rgb(237, 236, 243);
  cursor: pointer;
  color: rgb(5, 2, 31);
  border: 1px solid var(--gray);
}
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  padding-left: 2em;
  color: var(--navColor)
}
@media screen and (min-width: 1480px) {
  body{
    margin:0%;
 
  }
  .App{
      overflow: hidden;
      color: var(--black);   
  }
}
